<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    <h2> Datos de Familiares </h2>
    
    <h3> Datos de {{ padre.parentezco }}</h3>
    <p> Nombre = {{ padre.nombre }}</p>
    <p> Apellido = {{ padre.apellido }}</p>
    <p> Edad = {{ padre.edad }}</p>

    <h3> Datos de {{ madre.parentezco }}</h3>
    <p> Nombre = {{ madre.nombre }}</p>
    <p> Apellido = {{ madre.apellido }}</p>
    <p> Edad = {{ madre.edad }}</p>

    <h3> Datos de {{ hermano.parentezco }}</h3>
    <p> Nombre = {{ hermano.nombre }}</p>
    <p> Apellido = {{ hermano.apellido }}</p>
    <p> Edad = {{ hermano.edad }}</p>


</body>

</html>